@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #30362F;
}

h1 {
    margin: 0;
}

.header {
    width: 100vw;
    height: 7.5vh;
    background-color: #011627;
    display: flex;
    flex-direction: column;
}

.title {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2.5vw;
    color: white;
}

/* Formulari */

.grid-form {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 50%;
    height: 60%;
    border-spacing: 0;
    display: flex;
    color: white;
    background-color: #011627;
    border-radius: 20px;
    flex-direction: column;
    align-content: center;
    align-items: center;
    box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.51);
}

.list {
    width: 50%;
    height: 60%;
    text-align: center;
    background-color: #2020208c;
    color: white;
}

a {
    text-decoration: none;
    font-style: unset;
    color: white;
}


/* config/partida */
.configBox {
    margin: 10%;
    width: 80%;
    height: 80%;
    border-spacing: 0;
    background-color: rgb(231, 231, 231);
}

.formConfig {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: flex;
    flex-direction: row;
}

.input {
    width: 100%;
}

.input:first {
    margin-right: 10px;
}

/* Cuadricula Joc */
#gridContainer {
    width: 100vw;
    height: 85vh;
    background-color: rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

td {
    border: 1px solid #777777;
    width: 10px;
    height: 10px;
}

td.dead {
    background-color: transparent;
}

td.live {
    background-color: #CC4774;
    border-radius: 10px;
}

table {
    width: 80%;
    height: 80%;
    border-spacing: 0;
    background-color: rgb(49, 49, 49);
    border: solid 1vw #011627;
    box-shadow: 0px 0px 21px 5px rgba(0,0,0,0.51);
}

.selectBox {
    margin-top: 37.5vh;
    margin-bottom: 37.5vh;
    max-height: 10vh;
    max-width: 100vw;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.selectButtons {
    width: 20vw;
    height: 10vh;
    background-color: #011627;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 800;
    box-shadow: 0px 0px 21px 1px rgba(0,0,0,0.51);
}

/* Comptador */
#comGen {
    color: black;
}

.footer {
    width: 100vw;
    height: 7.5vh;
    background-color: #011627;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

button {
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
