@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #30362F;
}

h1 {
    margin: 0;
}

.header {
    width: 100vw;
    height: 7.5vh;
    background-color: #011627;
    display: flex;
    flex-direction: column;
}

.title {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2.5vw;
    color: white;
}

/* Formulari */

.grid-form {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
    margin-bottom: 10%;
    min-height: 40%;
    width: 50%;
    height: auto;
    border-spacing: 0;
    display: flex;
    color: white;
    background-color: #011627;
    border-radius: 20px;
    flex-direction: column;
    align-content: center;
    align-items: center;
    box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.51);
}

.list {
    width: 50%;
    height: 60%;
    border-radius: 10px 10px 10px 10px;
    font-size: 18px;
    padding: 5px;
    text-align: center;
}

a {
    text-decoration: none;
    font-style: unset;
    color: white;
}


/* config/partida */

.ninput {
    width: 30%;
    padding: 12px 20px;
    font-size: 20px;
    text-align: center;
}



.sbutton {
    background-color: #011627;
    border: 2px solid #fdfdfd;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 19.92px;
}

.sbutton:hover {
    background-color: white; 
    color: black;
}

.gbutton {
    background-color: #011627;
    border: 2px solid #fdfdfd;
    color: white;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}

.gbutton:hover {
    background-color: white; 
    color: black;
}

/* Cuadricula Joc */

#gridContainer {
    width: 100vw;
    height: 85vh;
    background-color: rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

td {
    border: 4px solid #3a3a3a;
}

td.dead {
    background-color: transparent;
}

td.live {
    background-color: #e78a34;
}

table {
    width: 70%;
    height: 70%;
    border-spacing: 0;
    background-color: rgb(49, 49, 49);
    border: solid 1vw #011627;
    box-shadow: 0px 0px 21px 5px rgba(0,0,0,0.51);
}

#stats-menu {
    background-color: #011627;
    width: 50%;
    min-height: 8%;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.elementStat {
    border-right: 2px solid white;
    height: 100%;
    width: 33%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}

.elementStat:last-child {
    border-right: none;
}

#control-menu {
    background-color: #011627;
    width: auto;
    height: auto;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* index start page */

.selectBox {
    margin-top: 37.5vh;
    margin-bottom: 37.5vh;
    max-height: 10vh;
    max-width: 100vw;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.selectButtons {
    width: 20vw;
    height: 10vh;
    background-color: #011627;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 800;
    box-shadow: 0px 0px 21px 1px rgba(0,0,0,0.51);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.footer {
    width: 100vw;
    height: 7.5vh;
    background-color: #011627;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: white;
}

button {
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

/* Icons */

.gg-add {
    margin-right: 10px;

}

.gg-software-upload {
    margin-right: 10px;
}

.gg-close-o {
    margin-left: 10px;
}

.gg-media-live {
    margin-left: 10px;
}

.gg-insights {
    margin-left: 10px;
}

